/*@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');*/

@font-face {
  font-family: 'Nunito-SemiBold';
  src: local('Nunito-SemiBold'),
       url(./fonts/Nunito-SemiBold.ttf) format('truetype') ;
}

@font-face {
  font-family: 'Nunito-Italic';
  src: local('Nunito-Italic'),
       url(./fonts/Nunito-Italic.ttf) format('truetype') ;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: local('Nunito-Bold'),
       url(./fonts/Nunito-Bold.ttf) format('truetype') ;
}

body {
 background: #eee;
 font-family: 'Nunito-Italic', sans-serif;
}


