/*@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');*/

@font-face {
  font-family: 'Nunito-SemiBold';
  src: local('Nunito-SemiBold'),
       url(./fonts/Nunito-SemiBold.ttf) format('truetype') ;
}

@font-face {
  font-family: 'Nunito-Italic';
  src: local('Nunito-Italic'),
       url(./fonts/Nunito-Italic.ttf) format('truetype') ;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: local('Nunito-Bold'),
       url(./fonts/Nunito-Bold.ttf) format('truetype') ;
}

body {
 background: #eee;
 font-family: 'Nunito-Italic', sans-serif;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#main h1 {
  color: #444;
  text-align: center;
}

#book-list {
  padding: 0px;
}

#book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #880e4f;
}

form {
  background: #fff;
  padding: 20px;
  position: relative;
  bottom: 0px;
  width: 400px;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: left;
  padding: 6px;
}

form select, form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #AD1457;
  border: 0px;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  bottom: 10px;;
  left: 10px;
}

#book-details {
  background: #AD1457;
  padding: 1em;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 100%;
}
